@(chapters:List [Chapter])
<!doctype html>
@import helper._
<html lang="en">
<head>
    <title>FEAST HOME</title>
    <meta charset="UTF-8">
    <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/lib/chart.js/utils.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3"><a class="btn-link" href="future" role="button">What is next for this prototype?</a></div>
    </div>
</div>
<div class="container">
        <h1 class="display-4"><strong>F.E.A.S.T.</strong><img src="assets/images/ArkansasPlain.png" alt="Arkansas" title="Arkansas" style="float:left;width:10px;height:10px;"/><img src="assets/images/Fork.jpg" alt="Fork" title="Fork" style="float:left;width:10px;height:10px;"/><a class="btn btn-success btn-lg" href="regulation" role="button">BEGIN SEARCH</a></h1>
        <h2><i>food establishment of Arkansas search tool</i></h2>
   <h3>Observe, Select, and Review Out of Compliance Regulation Specifics</h3>
</div>

   <div class="container">
    <table class="table table-condensed table-bordered table-active">
    @for(chapter <- chapters){
<tr class="active">
    <td class="active">
        Chapter @chapter.getChapterNumber()
    </td>
    <td class="active">
        @chapter.getChapterName()
    </td>
</tr>
}
</table>
</div>

</body>
</html>
