@(chapters:List [Chapter])
<!doctype html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>


<div class="jumbotron">
    <div class="container text-center">
        <h1 class display-4>F.E.A.S.T.</h1>
        <p>Food Establishments of Arkansas Safety Tool</p>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-6-6">
    <div class="panel panel-info">
        <div class="panel-heading">Chapter 1</div>
        <div class="panel-body">Sub-sections</div>
    </div>
</div>
    </div>

<div class="row">
    <div class="col-6-6">
        <div class="panel panel-info">
            <div class="panel-heading">Chapter 2</div>
            <div class="panel-body">Sub-sections</div>
        </div>
    </div>
</div>
</div>


<div class="container">
    <p><a class="btn btn-primary btn-lg" href="regulation" role="button">Begin</a></p>

</div>



</body>
</html>
