@(chapters:List [Chapter])
<!doctype html>
@import helper._
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">


</head>

<body>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
                <img src=assets/images/ArkansasPlain.png" alt="Arkansas" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum...</p>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
                <img src=assets/images/ArkansasPlain.png" alt="Arkansas" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum...</p>
                </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
                <img src=assets/images/ArkansasPlain.png" alt="Arkansas" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum...</p>
                </div>
        </div>
    </div>
</div>


<a class="btn btn-primary btn-lg" href="regulation" role="button">Begin</a>
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/popper.js/umd/popper.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
