@(regulations: List[Regulation])
<!DOCTYPE html>
<html lang="en">
    <title>FEAST FUTURE</title>
    <head>
        <title>FEAST HOME</title>
        <meta charset="UTF-8">
        <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
        <script src="/assets/lib/chart.js/utils.js"></script>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        </head>

    <body>
<div class="jumbotron text-center">
        <h4>Additional functions of F.E.A.S.T. prototype after Arkansas Coding Academy</h4>
    <i><a href="https://www.healthy.arkansas.gov/">Visit the Arkansas Department of Health's Website</a></i>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3"><a class="btn btn-primary btn-sm" href="chapter" role="button">RETURN HOME</a></div>
           </div>
</div>
<br>
<div class="container">
   <ul style="list-style-type:circle" >
    <li>Style checkbox - CSS</li>
       <li>Use checkbox classifications to count levels (Pf, P, and Core) - Java</li>
     <li>Build chart with level selections - Bootstrap</li>
        <li>Link with Google Translate - HTML</li>
        <li>Allow out of compliance review page to be printed - HTML</li>
      <li>Paginate regulations by chapters - SQL and Bootstrap</li>
       <br>
       <br>
    <img src="assets/images/ArkansasPlain.png" alt="Arkansas" title="Arkansas" style="float:left;width:10px;height:10px;"/><img src="assets/images/Fork.jpg" alt="Fork" title="Fork" style="float:left;width:10px;height:10px;"/>
</ul>
</div>

    </body>
</html>

































