
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <title>REGULATION OUT COUNT</title>
    <meta charset="UTF-8">
    <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/lib/chart.js/utils.js"></script>

</head>
<body>
<h1>OUT OF COMPLIANCE REGULATIONS</h1>
<form action="@routes.RegulationController.getRegulationSpecific" method="GET">
    @CSRF.formField
    <input type="submit" value="RETURN TO REGULATION SEARCH"/>
</form>
<br>
<form action="@routes.ChapterController.getChapter" method="GET">
    @CSRF.formField
    <input type="submit" value="CLEAR REPORT AND START at CHAPTER LIST"/>
</form>


<canvas id="myChart" width="20" height="20"></canvas>
<script type = "text/javascript" id="chartData"
        src = "assets/javascripts/hello.js"
        data-labels = "People, Place, Process"
        data-data = "3, 5, 6">
</script>






</body>
</html>