@(regulationcontrolpoints:List[RegulationControlPoint])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTROL POINT AREAS</title>
    <meta charset="UTF-8">
    <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/lib/chart.js/utils.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="display-4">F.E.A.S.T. CONTROL POINT TOTALS</h1>
</div>

<div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <th>#ID</th>
        <th>Control Point Area</th>
        <th>Total</th>

        @for(regulationcontrolpoint<-regulationcontrolpoints){

        <tr>
            <td>
                @regulationcontrolpoint.getRegulationControlPointId
            </td>
            <td>@regulationcontrolpoint.getRegulationControlPoints</td>

            <td>@regulationcontrolpoint.getCount</td>
        </tr>
        }
    </table>
</div>
<div class="container">

      <a class="btn btn-primary btn-lg" href="chapter" role="button">EXIT</a>

</div>



</body>
</html>