@(regulations: List[Regulation])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <title>Regulation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
</head>

<body>
<form method="POST" action="/regulationoutcount">
    @CSRF.formField
    <div class="container">
        <h1 class="display-4">F.E.A.S.T. REGULATION SPECIFICS</h1>
    </div>

    <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <th>CODE</th>
        <th>STATUS</th>
        <th>REPORT</th>
        @for(regulation <- regulations){

        <tr>
            <td>
                <blockquote>@regulation.getRegulationSpecific</blockquote>
            </td>
                 <td>
                     <input type="checkbox" id="reg-@regulation.getRegulationId" name="reg-@regulation.getRegulationId" class="btn btn-primary">OUT
                </td>
            <td>
                <input type = "submit" value="CREATE" class="btn btn-sm">
            </td>
        </tr>
}


</table>
</div>
</form>

    <a class="btn btn-sm" href="chapter" role="button">DELETE ALL</a>


</body>
</html>

