@(peopleCount: Integer, processCount: Integer, placeCount: Integer)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FEAST CHART</title>
    <meta charset="UTF-8">
    <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/lib/chart.js/utils.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11"><h1 class="display-4">Food Service Corrective Action Areas:</h1>
        </div>
    </div>
<div id="chartContainer" style="height: 1px; width: 5%;">
<canvas id="totals">
<script type = "text/javascript" id="chartData"
        src = "assets/javascripts/hello.js"
        data-labels = ",PEOPLE,PROCESS,PLACE,"
        data-data = "{,@peopleCount,@processCount,@placeCount,}"></script>
</canvas>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11"><blockquote>The violations are categorized in three areas where focused improvements will be necessary. To safeguard public health and provide to consumers food that is safe, unadulterated, and honestly presented, use the information shown above to control areas of compliance problems.</blockquote></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9"></div>

        <div class="col-lg-3"><a class="btn btn-primary btn-sm btn-group-justified" href="regulation" role="button">PREVIOUS</a>
            <a class="btn btn-primary btn-sm btn-group-justified" href="future" role="button">EXIT</a>
        </div>
    </div>
</body>
</html>


