@(peopleCount: Integer, processCount: Integer, placeCount: Integer)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTROL POINT AREAS</title>
    <meta charset="UTF-8">
    <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/lib/chart.js/utils.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
<p>@peopleCount</p>
<p>@processCount</p>
<p>@placeCount</p>

<canvas id="totals" width="10" height="10"></canvas>
<script type = "text/javascript" id="chartData"
        src = "assets/javascripts/hello.js"
        data-labels = "people; process; place"
        data-data = "@peopleCount; @processCount; @placeCount;"></script>


<div class="container">
      <a class="btn btn-primary btn-lg" href="chapter" role="button">EXIT</a>
</div>

</body>
</html>

