@(regulations: List[Regulation])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <title>REGULATIONS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/lib/chart.js/utils.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">

</head>

<body>
<form method="POST" action="/regulationoutcount">
    @CSRF.formField
       <div class="container">
               <nav class="navbar navbar-expand-sm navbar-light navbar-collapse bg-dark text-white fixed-top"><h1>F.E.A.S.T. OUT Regulation Selections</h1>
            <ul class="navbar-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11"></div>
                        <div class="col-lg-1"><input type = "submit" value="CREATE REPORT" class="btn btn-danger btn-lg" data-toggle ="TOTAL OUTS" title="TOTAL OUTS">
                        </div></div></div></ul>
        </nav>
    </div>
<br>
    <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <br>
        <br>
        <br>
        <th>CODES SCROLL &#9660  &#9650</th>
        <th>OUT?</th>

        @for(regulation <- regulations){

        <tr>
            <td>
                <blockquote>@regulation.getRegulationSpecific</blockquote>
            </td>
            <div class="container">
            <span><td>
                <input type="checkbox" class="btn btn-danger btn-block active" id="reg-@regulation.getRegulationId" name="reg-@regulation.getRegulationId">
            </td></span>
            </div>
        </tr>
}
</table>
</div>
</form>

<div class="container">
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3"><a class="btn btn-primary btn-sm active" href="chapter" role="button">CLEAR ALL SELECTIONS</a>
        </div>
    </div>
</div>
</body>
</html>

