@(regulations: List[Regulation])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <title>REGULATION OUT COUNT</title>
    <meta charset="UTF-8">
    <script src="/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/assets/lib/chart.js/utils.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">

</head>
<body>
<div class="container">
<h1 class="display-4">OUT OF COMPLIANCE OBSERVATIONS</h1>
</div>

<div class="container">
    <table class="table table-bordered">
        <th># Office Use Only</th>
        <th>CCP    1:People 2:Process 3:Place</th>
        <th>LEVEL  1:Pf     2:P       3:Core</th>
    </table>
</div>

<div class="container">
    <form method="POST" action="/regulationouttotal">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <th>#</th>
        <th>CCP</th>
        <th>LEVEL</th>
        <th>SPECIFIC</th>

@for(regulation <- regulations){


            <input type = "hidden" name="reg-@regulation.getRegulationId" value="reg-@regulation.getRegulationId">
        <tr>
            <td>
            <i>@regulation.getRegulationId()</i>
            </td>
            <td>
                <strong>@regulation.getRegulationControlPointId</strong>
            </td>

            <td><strong>@regulation.getRegulationLevelId</strong></td>

            <td><blockquote>@regulation.getRegulationSpecific</blockquote></td>
        </tr>
}
    </table>
    </form>
</div>
<div class="container">
<a class="btn btn-primary btn-lg" href="regulationouttotal" role="button">CHART</a>

<a class="btn btn-primary btn-lg" href="regulation" role="button">UNDO</a>

<a class="btn btn-primary btn-lg" href="chapter" role="button">EXIT</a>

</div>
</div>
</body>
</html>