@(pfCount: Integer, pCount: Integer, coreCount: Integer)

<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGULATION LEVEL</title>
</head>
<body>
@pfCount, @pCount, @coreCount





<div class="container">
    <div class="row">
        <div class="col-lg-9"></div>

        <div class="col-lg-3"><a class="btn btn-primary btn-sm btn-group-justified" href="regulationouttotal" role="button">PREVIOUS</a>
            <a class="btn btn-primary btn-sm btn-group-justified" href="chapter" role="button">EXIT</a>
        </div>
    </div>
</div>

</body>
</html>